<mat-card class="new-product-card">

  <button mat-button class="menu-btn" (click)="openPopup()"><mat-icon>book</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;Books</button>

</mat-card>


<mat-card class="new-product-card">

  <button mat-button class="menu-btn" routerLink="/app-newspapers"><mat-icon>library_books</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Newspapers</button>

</mat-card>

<mat-card class="new-product-card">

  <button mat-button class="menu-btn" routerLink="/app-government"><mat-icon>record_voice_over</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Government Publications</button>

</mat-card>


<mat-card class="new-product-card">

  <button mat-button class="menu-btn" routerLink="/app-ola"><mat-icon>spa</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Ola leaf munuscripts</button>

</mat-card>




